{% extends 'base.html' %}
{% load static %}

{% block title %}
  change password
{% endblock %}

{% block content %}
<section class="breadcrumbs">
    <div class="container">

      <ol>
        <li><a href="#">Home</a></li>
        <li><a href="#">Trade Nepal</a></li>
        <li>Trade Bulletin</li>
      </ol>
      <h2>change password</h2>

    </div>
  </section><!-- End Breadcrumbs -->
  <br/><br/><br/><br/><br/>
  
    <form method="POST">
      <div class="form-group p-5 ">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary">change password</button>
        <br/><br/>
        <ul>

           <li> Your password can’t be too similar to your other personal information.</li>
           <li> Your password must contain at least 8 characters.</li>
           <li> Your password can’t be a commonly used password.</li>
           <li> Your password can’t be entirely numeric.</li>


        <hr/>
        </ul>
      </div>
    </form>
  

    
    
{% endblock content %}
