{% extends 'base.html' %}
{% load static %}

{% block title %}
  edit setting
{% endblock %}

{% block content %}
<section class="breadcrumbs">
    <div class="container">

</section>
{% if user.is_authenticated %}
        {% if user.id == profile.user.id %}
                
                <h2>Update profile</h2>

                </div>
<!-- End Breadcrumbs -->
            
                {{ user.profile.bio  }}
                <form method="POST">
                <div class="form-group p-5 ">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn btn-primary">Update profile</button>
                </div>
                </form>
        {% else %}
        you are not allowed to edit this page
        {% endif %}
{% else %}  
<h1>you cant edit</h1>
{% endif %}
    
    
{% endblock content %}
